@import url('https://fonts.googleapis.com/css?family=Lora');

body {
  /* font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif; */
    font-family: 'Lora', serif;
    font-size: .7rem;
  font-weight: 700;
}

#container {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

#pokemon-search-form {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

#pokemon-search-input {
  font-size: 2rem;
  border: 3px solid #fecd2f;
  color: #2d72fc;
}

#pokemon-logo {
  /* width: 300px; */
  margin-left: 280px;
}

#pokemon-container {
  margin-top: 1rem;

}

input:focus {
  outline: none;
}

.pokemon-card {
  float: left;
  width: 250px;
  margin: auto;
}

.pokemon-frame {
  width: 230px;
  margin: 10px;
  background: #fecd2f;
  color: #2d72fc
}

.pokemon-image {
  width: 96px;
  margin: auto;
}

.center-text {
  text-align: center;
}

.flip-image {
  color: #2d72fc;
}
